.main-container {
    width: 100%;
    height: 75vh;
    overflow: hidden;
    position: relative;
    font-family: 'Inter';
}

.hero-img {
    position: relative;
    z-index: 2;
}

.hero-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: linear-gradient(168.03deg, rgba(0, 0, 0, 0.2) 76.85%, rgba(0, 0, 0, 0) 91.87%), 
    linear-gradient(270deg, rgba(182, 33, 33, 0.2) 0%, rgba(247, 157, 157, 0.1) 90%);
}

.hero-text {
    font-size: 35px;
    font-weight: 700;
    font-style: normal;
    width: 100%;
    margin-bottom: -10px;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.428);
}

.hero-title {
    color: white;
    font-size: 95px;
    line-height: 110px;
    margin-top: 10px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.428);
}



@media screen and (max-width: 900px) {
    .hero-title {
        font-size: 86px;
        line-height: 100px;
        width: 400px;
    }
}

@media screen and (max-width: 700px) {
    .hero-title {
        font-size: 80px;
        line-height: 90px;
        width: 360px;
    }
}

@media screen and (max-width: 470px) {
    .hero-title {
        font-size: 14vw;
        line-height: 15vw;
        width: 80%;
    }
}

@media (max-aspect-ratio: 5/8) {
    .hero-container {
        height: 72vh;
    }
    .hero-title {
        left: 3.5vw;
        bottom: 25px;
    }
}

.hero-text-container {
    position: absolute;
    bottom: 35px;
    left: 4vw;
    z-index: 3;
}

.contact-send-container {
    background: linear-gradient(90deg, #f4dae1 2.88%, #e9f9ef 97.22%);
    height: fit-content;
    padding-top: 20px;
    padding-left: 4vw;
}

.contact-send-title {
    font-family: 'Inter';
    font-size: 35px;
    font-weight: 500;
}

.contact-form-container {
    font-family: 'Inter';
    display: flex;
    z-index: 0;
    overflow: hidden;
}

.contact-form {
    background: radial-gradient(rgb(188, 108, 129), rgb(190, 90, 111) 90%);
    width: 50%;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 25px;
    z-index: 555;
    box-shadow: 0px 0px 50px 5px rgb(10, 10, 10);
}

.contact-form-container > form {
    width: 60%;
    margin-top: 20px;
}

.contact-form-title {
    color: white;
    font-size: 60px;
    margin-bottom: 5px;
    font-weight: 500;
}

.contact-form-input {
    margin-top: 5px;
    height: 44px;
    border: #E4E2E2 2px solid;
    width: 95%;
    font-size: 16px;
    padding-left: 12px;
    margin-bottom: 20px;
    box-shadow: -2px 4px 3px 0px rgba(97, 42, 42, 0.32);
    background: none;
    font-family: 'Inter';
    color: rgb(247, 243, 243);
    border-radius: 10px;
}

.contact-form-input::placeholder {
    font-size: 16px;
    color: rgb(221, 215, 215);
    font-family: 'Inter';
    font-weight: 500;
}

.contact-form-input:focus {
    outline: none;
}

.contact-form-input-title {
    color: white;
    font-size: 20px;
    margin-bottom: 4px;
}

.contact-form-img {
    width: 50%;
    position: relative;
}

.contact-form-img::after {
    content: "";
    width: 100%;
    height: 100%;
    z-index: 99;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.2) 0%, rgba(13, 7, 89, 0.2) 100%);
    position: absolute;
    left: 0;
    top: 0;
}

@media (max-width: 750px) {
    .contact-form-container {
        flex-direction: column;
        height: fit-content;
    }
    .contact-form {
        width: 100%;
    }
    .contact-form-img {
        width: 100%;
        height: 250px;
    }
    .contact-form-input-title {
        font-size: 18px;
        margin-bottom: 1px;
    }
    .contact-form-input {
        height: 40px;
        margin-bottom: 18px;
    }
    .contact-form-title {
        font-size: 53px;
    }
    .contact-form {
        padding-top: 8px;
        padding-bottom: 18px;
    }
}

.contact-email-container {
    background: linear-gradient(220deg, #f4dae1 2.88%, #e9f9ef 97.22%);
    font-family: 'Inter';
    height: 150px;
    font-size: 26px;
    font-weight: 500;
}