.footer-container {
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(90deg, #dcc8cc 2.88%, #cad6cf 97.22%);
    padding-left: 30px;
    padding-right: 30px;
}

.footer-title {
    font-size: 26px;
    font-weight: 500;
}