.hero-container {
    height: 90vh;
    font-family: 'Inter';
    overflow: hidden;
    position: relative;
    width: 100vw;
    box-shadow: 2px 2px 22px rgba(0, 0, 0, 0.25);
    min-height: 400px;
}



.hero-text {
    color: white;
    font-size: 105px;
    line-height: 120px;
    font-weight: 700;
    font-style: normal;
    width: 440px;

    position: absolute;
    bottom: 30px;
    left: 4vw;
}


@media screen and (max-width: 900px) {
    .hero-text {
        font-size: 90px;
        line-height: 100px;
        width: 400px;
    }
}

@media screen and (max-width: 700px) {
    .hero-text {
        font-size: 80px;
        line-height: 90px;
        width: 360px;
    }
}
.hero-img {
    position: relative;
    background-size: cover;
    background-position: center;
}


.hero-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(168.03deg, rgba(0, 0, 0, 0.2) 76.85%, rgba(0, 0, 0, 0) 91.87%), 
    linear-gradient(270deg, rgba(182, 33, 33, 0.2) 0%, rgba(247, 157, 157, 0.1) 90%);
}


.preview-container {
    width: 100%;
    height: 87vh;
    display: flex;
    background: linear-gradient(90deg, #f4dae1 2.88%, #e9f9ef 97.22%);
    flex-direction: column;
    row-gap: 2.3vh;
    overflow: hidden;
    justify-content: center;
}

.preview-title {
    background-image: linear-gradient(90deg, #460E47, #543493);
    background-size: 400%;
    background-clip: text;
    color: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: max(3.7vw, 44px);
    animation: bg-animation 5s infinite;
    text-align: center;
    margin-bottom: 1px;
}

@keyframes bg-animation {
    0% {background-position: left}
    50% {background-position: right}
    100% {background-position: left}
  }

.preview-carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    z-index: 1;
    position: relative;

}


.preview-carousel-container::after {
    position: absolute;
    content: "";
    width: 100vw;
    height: 100%;
    top: 0;
    background: linear-gradient(90deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 90%, rgba(255,255,255,0.5) 100%);
}


.preview-carousel {
    width: 75.8vw;
    height: 63.5vh;
    display: flex;
    align-items: center;
    justify-content: left;
    column-gap: 2.8vw;
}

.preview-carousel-arrow {
    background: rgba(45, 43, 43, 0.675);
    color: rgb(239, 235, 235);
    font-size: 4.4vw;
    top: 50%;
    transform: translateY(-50%);
    width: 53px;
    height: 54px;
    position: absolute;
    z-index: 999;
    border-radius: 40px;
}

.preview-carousel-item {
    height: 63.5vh;
    width: 23.4vw;
    box-shadow: 0px 7px 20px 8px rgba(0, 0, 0, 0.24);
    border-radius: 80px;
    flex-shrink: 0;
    overflow: hidden;
    z-index: 99;

    position: relative;
    transition: scale 0.2s;
}

.preview-carousel-item:hover {
    scale: 108%;
}

.preview-carousel-item > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.preview-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -2.8vh;
}

.preview-sub-title {
    font-family: 'Inter';
    letter-spacing: 0.3px;
    font-weight: 500;
    font-size: 24px;
    color: #543493;
}



@media (min-height: 820px) {
    .preview-container {
        height: 80vh;
        row-gap: 1.9vh;
    }
    .preview-carousel-item {
        height: 59vh;
    }
    .preview-carousel-container {
        height: 59vh;
    }
    .preview-carousel {
        height: 59vh;
    }
}

@media (max-width: 1100px) {
    .preview-carousel-item {
        border-radius: 65px;
    }
}

@media (max-width: 930px) {
    .preview-carousel-item {
        border-radius: 50px;
    }
}


@media (max-width: 900px) {
    .preview-carousel-item {
        height: 62vh;
    }
    .preview-container {
        height: 84vh;
    }
}

@media (max-width: 900px) and (min-height: 730px) {
    .preview-container {
        height: 79vh;
        row-gap: 1.9vh;
    }
    .preview-carousel-item {
        height: 58vh
    }
    .preview-carousel-container {
        height: 58vh;
    }
    .preview-carousel {
        height: 58vh;
    }
}


@media (max-width: 850px) {
    .preview-carousel {
        width: 79.8vw;
        column-gap: 3.5vw;
    }
    .preview-container {
        margin-top: 4px;
    }
    .preview-carousel-item {
        width: 38vw;
        height: 63.4vh;
        
        border-radius: 65px;
    }
    .preview-carousel {
        height: 63.4vh;
    }
    .preview-carousel-container {
        height: 63.4vh;
    }
}


@media screen and (max-width: 800px) {
    .preview-container {
        height: 84vh;
    }
    .preview-carousel-item {
        height: 62vh;
    }
    .preview-carousel {
        height: 62vh;
    }
    .preview-carousel-container {
        height: 62vh;
    }
}

@media screen and (max-width: 750px) {
    .preview-title {
        font-size: 40px;
    }
}


@media (max-width: 850px) and (min-height: 730px){
    .preview-container {
        height: 80vh;
        row-gap: 1.4vh;
    }
    .preview-carousel-item {
        height: 58.5vh
        
    }
    .preview-carousel-container {
        height: 58.5vh;
    }
    .preview-carousel {
        height: 58.5vh;
    }
}



@media screen and (max-width: 710px) {
    .preview-carousel-item {
        height: 59vh;
    }
    .preview-carousel {
        height: 59vh;
    }
    .preview-carousel-container {
        margin-top: 4px;
    }
    .preview-container {
        height: 84vh;
    }
}

@media screen and (max-width: 710px) and (min-height: 730px) {
    .preview-container {
        height: 76vh;        
    }
    .preview-carousel {
        height: 54vh;
    }
    .preview-carousel-item {
        height: 54vh;
    }
    .preview-title-container {
        margin-top: -10px;
    }
}


@media screen and (max-width: 700px) {
    .preview-title {
        font-size: 39px;
        margin-top: 6px;
    }
    .preview-carousel-container {
        margin-top: 15px;
    }
    .preview-carousel-item {
        height: 60vh;
        border-radius: 50px; 
    }
    .preview-carousel-container {
        height: 60vh;
        margin-top: 3px;
    }
    .preview-container {
        height: 85vh;
        row-gap: 2.5vh;
    }
    .preview-sub-title {
        font-size: 22px;
    }  
    .preview-carousel-arrow {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 510px) and (min-height: 730px) {
    .preview-carousel-item {
        height: 45vh;
    }
    .preview-carousel {
        height: 45vh;
    }
    .preview-container {
        height: 67vh;
        row-gap: 0px;
    }
    .preview-carousel-container {
        height: 52vh;
    }
    .preview-title-container {
        margin: 0;
    }
}

@media screen and (max-width: 430px) {
    .preview-sub-title {
        font-size: 19px;
    }
    .preview-title {
        font-size: 33px;
    }
    .preview-carousel-item {
        border-radius: 40px;
    }
    .preview-carousel {
        height: 54.5vh;
    }
}

@media screen and (max-width: 450px) and (min-height: 600px) {
    .preview-sub-title {
        font-size: 19px;
    }
    .preview-title {
        font-size: 33px;
    }
    .preview-carousel-item {
        height: 45vh;
    }
    .preview-carousel-container {
        height: 45vh;
        margin: 0;
    }
    .preview-title-container {
        padding: 0;
        margin-top: -2vh;
    }
    .preview-container {
        row-gap: 2.2vh;
        height: 5;
        height: 64vh;
    }
}

@media screen and (max-width: 400px) {
    .preview-carousel-item {
        height: 48vh;
        min-height: 0;

    }
    .preview-carousel-container {
        height: 48vh;
    }
    .preview-carousel {
        height: 48vh;
    }
    .preview-container {
        height: 72.5vh;
        row-gap: 19px;
    }
}

@media screen and (max-width: 400px) and (min-height: 530px) {
    .preview-carousel-item {
        height: 43vh;
    }
    .preview-carousel-container {
        height: 43vh;
        margin: 0;
    }
    .preview-title-container {
        padding: 0;
        margin-top: -2vh;
    }
    .preview-container {
        row-gap: 2vh;
        height: 5;
        height: 62.5vh;
    }
}

@media screen and (max-width: 370px) {
    .preview-carousel-item {
        height: 48vh;
        min-height: 0;

    }
    .preview-carousel-container {
        height: 48vh;
    }
    .preview-carousel {
        height: 48vh;
    }
    .preview-container {
        height: 71vh;
        row-gap: 19px;
    }
    
}

@media (max-height: 600px) and (max-width: 600px) {
    .preview-title {
        font-size: 33px;
    }
    .preview-sub-title {
        font-size: 19px;
    }
}


@media screen and (min-height: 980px) and (max-width: 700px) {
    .preview-title-container {
        margin-top: -26px;
    }
}

@media screen and (min-width: 800px) and (min-height: 980px) {
    .preview-title {
        font-size: 50px;
    }
}

@media screen and (min-width: 1080px) and (min-height: 980px) {
    .preview-title {
        font-size: 63px;
    }
    .preview-sub-title {
        font-size: 30px;
    }
}

@media (min-aspect-ratio: 11/5) {
    .preview-carousel-item {
        height: 38vw;
    }
    .preview-carousel-container {
        height: 38vw;
    }
    .preview-carousel {
        height: 38vw;
    }
    .preview-container {
        height: 50vw;
    }
}

@media (max-aspect-ratio: 5/7) {
    .preview-carousel-item {
        height: 74vw;
    }
    .preview-carousel-container {
        height: 74vw;
    }
    .preview-carousel {
        height: 74vw;
    }
    .preview-container {
        height: 114vw;
        row-gap: 18px;
    }
}


@media (max-height: 460px) and (max-width: 1000px) {
    .preview-carousel-item {
        height: 320px;
        
    }
    .preview-carousel {
        height: 320px;
    }
    .preview-carousel-container {
        height: 320px;
    }
    .preview-container {
        height: 460px;
        
        row-gap: 10px;
    }
    .preview-title {
        margin-top: 0;
    }
}
  


.smoothie-caption {
    z-index: 99;
    position: absolute;
    bottom: 33px;
    width: 100%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    color: white; 
    font-family: 'Inter';
    font-weight: 600;
    font-size: max(1.9vw, 22px);
    text-shadow: 0 3px 12px #000;
}