.menu-hero-container {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
    font-family: 'Inter';
}

.hero-img {
    position: relative;
}



.hero-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(168.03deg, rgba(0, 0, 0, 0.2) 76.85%, rgba(0, 0, 0, 0) 91.87%), 
    linear-gradient(270deg, rgba(182, 33, 33, 0.2) 0%, rgba(247, 157, 157, 0.1) 90%);
}

.menu-main-container {
    width: 100%;
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, #f4dae1 2.88%, #e9f9ef 97.22%);
}

.menu-item-container {
    display: flex;   
    height: 200px;
    width: 90%;
    column-gap: 30px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Inter';
    align-items: center;
    border-bottom: 1px solid gray;
}

.menu-item-img {
    position: relative;
    width: 40vw;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    border-bottom-right-radius: 50px;
}

.menu-item-text {
    width: 40vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-item-name {
    font-weight: 600;
    font-size: 28px;
    margin: 0;
    margin-bottom: 8px;
}

.menu-item-desc {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.3px;
    margin-bottom: 8px;
}

.menu-item-price {
    font-size: 16px;
}

.menu-more {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu-main-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    margin-top: 20px;
    margin-bottom: 10px;
    width: 90%;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(152, 107, 107);
}

.menu-main-title {
    font-size: 55px;
    font-weight: 600;
    color: #460E47
}

.menu-main-subtitle {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.1px;
    color: #543493
}

@media screen and (max-width: 530px) {
    .menu-item-container {
        column-gap: 25px;
    }   
    .menu-item-img {
        width: 35vw;
    }
    .menu-item-desc {
        font-size: 15px;
    }
    .menu-item-name {
        font-size: 26px;
    }
    .menu-item-price {
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) {
    .menu-item-name {
        font-size: 25px;
    }
    .menu-item-desc {
        font-size: 14px;
    }
    .menu-item-img {
        width: 33vw;
    }
}



.hero-text-container {
    position: absolute;
    bottom: 35px;
    left: 4vw;
    z-index: 3;
}

.hero-title {
    color: white;
    font-size: 105px;
    line-height: 110px;
    margin-top: 10px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.428);
}


@media screen and (max-width: 900px) {
    .hero-title {
        font-size: 90px;
        line-height: 100px;
        width: 400px;
    }
}

@media screen and (max-width: 700px) {
    .hero-title {
        font-size: 80px;
        line-height: 90px;
        width: 360px;
    }
}