.main-container {
    background: linear-gradient(220deg, #f4dae1 2.88%, #e9f9ef 97.22%);
    height: 70vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.main-img {
    position: absolute;
    right: 0;
    overflow: hidden;
    background-size: cover;
}

.main-img::after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 80vh;
    min-height: 420px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(228, 169, 169, 0) 0%, rgba(112, 91, 91, 0.016) 64.58%, rgba(238, 103, 103, 0.25) 100%), linear-gradient(90.22deg, rgba(0, 0, 0, 0.2) 22.75%, rgba(0, 0, 0, 0.5) 99.83%), linear-gradient(180deg, rgba(1, 1, 1, 0.7) 0%, rgba(0, 0, 0, 0) 18.23%);
}

.title {
    position: absolute;
    color: white;
    z-index: 99;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 80px;
    left: 20px;
    top: 10px;
}